.popup__save-button {
  width: 100%;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  padding: 14px 124px;
  margin-top: 18px;
  color: #FFFFFF;
  font-family: "Inter", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}

.popup__save-button:disabled {
  color: #000000;
  background: transparent;
  pointer-events: none;
  user-select: none;
  opacity: 0.2;
  border: 1px solid #000000;
}

@media screen and (max-width: 656px) {
  .popup__save-button {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.21;
    padding: 14px 82px;
  }
}
