.profile__title {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 904px) {
  .profile__title {
    max-width: 189px;
    font-size: 14px;
    line-height: 1.21;
  }
}
