.card__delete-button {
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  background: transparent url('../../../images/trash.svg') center no-repeat;
  position: absolute;
  right: 20px;
  top: 20px;
}

.card__delete-button:hover {
  opacity: 0.6;
}
